.header{
	height: 150px;
	background: red;
}

#menuList{
	
}

/*---- Restaurant ----*/
#menuList > a > .item{
	position: relative;
	height: 330px;
	margin-top: 10px;
	margin-left: 10px;
	background: transparent;
}

#menuList > a > .item > .img-contain{
	overflow: hidden;
}

#menuList > a > .item > .img-contain > img {
	width: 100%;
	height: 280px;
}

#menuList > a > .item > .item-text{
	margin: 0;
	height: 50px;
	padding: 15px 30px;
	box-sizing: border-box;
	color: white;
	background: #432E41;
}

#menuList > a > .item > .triangle{
	position: absolute;
	bottom: 50px;
	left: 10px;
	z-index: 1;
	border-left: 20px solid transparent;
 	border-right: 20px solid transparent;
  	border-bottom: 20px solid #432E41;
}

#menuList > a > .item > .item-text h1{
	font-size: 20px;
	float: left;
	margin: 0;
}

/*---- Food ----*/
#menuList > .item-food{
	position: relative;
	height: 330px;
	margin-top: 10px;
	margin-left: 10px;
	background: transparent;
}

#menuList > .item-food > .img-contain-food{
	overflow: hidden;
}

#menuList > .item-food > .img-contain-food > img{
	height: 280px;
	width: 100%;
}

#menuList > .item-food > .img-contain-blur{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #EBEBEB;
	opacity: 0;
	width: 100%;
	height: 280px;
	overflow: hidden;
}

#menuList > .item-food > .img-contain-blur > a > .glyphicon.glyphicon-shopping-cart{
	position: absolute;
	top: 100px;
	left: -20%;
	font-size: 68px;
	color: #21B6A2;
}

#menuList > .item-food > .img-contain-blur > a > .glyphicon.glyphicon-plus-sign{
	position: absolute;
	top: 100px;
	left: 120%;
	font-size: 68px;
	color: #21B6A2;
}

#menuList > .item-food > .img-contain-blur > .img-contain-order{
	position: absolute;
	width: 100%;
	height: 50px;
	top: 200px;
	z-index: 20;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	color: #4F4E4E;
	opacity: 0;
}

#menuList > .item-food > .img-contain-blur > .img-contain-extra{
	position: absolute;
	width: 100%;
	height: 50px;
	top: 200px;
	padding-top: 10px;
	z-index: 20;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	color: #4F4E4E;
	opacity: 0;
}

#menuList > .item-food > .img-contain-food > img {
	width: 100%;
	height: 280px;
}

#menuList > .item-food > .item-text-food{
	margin: 0;
	height: 50px;
	padding: 15px 30px;
	box-sizing: border-box;
	color: white;
	background: #432E41;
}

#menuList > .item-food > .item-text-food h1{
	font-size: 20px;
	float: left;
	margin: 0;
}

#menuList > .item-food > .item-text-food h2{
	font-size: 20px;
	float: right;
	font-weight: 100;
	margin: 0;
}

.footer{
	width: 100%;
	height: 50px;
	margin-top: 20px;
	background: #CCCCCC;
	box-shadow: inset 0px 14px 20px -9px rgba(82,80,82,0.73);
}

@media (max-width: 767px){	
	#top-bar input{
		*padding-right:0 !important;
	}
	.navbar-inner.main-menu{
		border-bottom:0 !important;
	}
	section.homepage-slider{
		display:none;
	}
	.account.pull-right{
		width:100%;
		text-align:center;
	}
	.myCarousel .thumbnails li{
		border-bottom:1px solid #eee;
		margin-bottom:0;
	}
	.product-box{
		padding-top:10px;
		padding-bottom:10px;		
	}
	.product-box:hover{
		background-color:#f8f8f8;
	}
	.product-box:hover a{
		color:#333 !important;
	}
	#menu ul{display: none;}
	.navbar-inner.main-menu a.logo{
		left:50%;
		margin-left:-99px;
	}
	#copyright,#footer-bar{
		padding:0 10px;
	}
	#footer-bar .nav{overflow:hidden}
	#footer-bar .nav li{float:left;}
	#footer-bar  .nav a:hover{
		background-color:transparent;
		color:#eb4800;
	}
	.feature_box .service{	
		border-bottom:1px solid #eee;
	}
}