.payment{
	margin-top: 0px;
}
.payment-header{
	margin-top: 30px;
	border-bottom: medium solid #CCCCCC;
}
.address-choose{
	margin-top: 20px;
}

.address-option{
	height: 100px;
}

.payment-option{
	margin-top: 20px;
}