
.header-detail>h3{
	margin-left: 10%;
}
.pic{
	margin-top: 5%;
	margin-bottom: 3%;
}
.menundetail{
	margin-left: 5%;
}
#tab .nav-tabs > li > a{
	border-radius: 5px 5px 0 0;
}
#tab .nav-pills > li > a{
	border-radius: 5px 5px 0 0;
}
#tab .tab-content{
	color: black;
	background-color: white;
	padding: 15px 15px;
}
#content-header{
	height: 100px;
	line-height: 100px;
	font-weight: 700;
	font-size: 40px;
	border-bottom: medium solid #CCCCCC;
}
#list{
	
}

#list > .item{
	position: relative;
	height: 330px;
	margin-top: 10px;
	margin-left: 10px;
	background: transparent;
}

#list > .item > .img-contain{
	overflow: hidden;
}

#list > .item > .img-contain > img {
	width: 80%;
	height: 200px;
}
#list > .item > .item-text{
	margin: 0;
	padding: 5px 10px;
	width: 276px;
	color: white;
	background: #432E41;
}
#list > .item > .item-text h1{
	font-size: 20px;
	float: left;
	margin: 0;
}