.status-contain {

}

.status-order {

}

.status-btn{
	height: 200px;
	width: 200px;
	float: left;
	border-radius: 50%;
	background-color: blue;
}

.status-one{
	
}

.status-two{
	
}

.status-three{
	
}